@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --foreground-rgb: 179, 174, 195;
  --background-rgb: 5, 0, 12;
}



body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h2 {
  @apply font-worksans xs:text-[9vw] sm:text-[5.625rem] font-light;
}

h1 {
  @apply font-worksans xs:text-[13vw] sm:text-[10.3rem] font-medium leading-none;
}

.hero-section {
  @apply xs:mx-4 sm:mt-16 sm:ml-24 sm:mr-24 sm:mb-24 w-[80vw];
}

.banner {
  @apply flex xs:gap-2 sm:gap-14 items-center justify-center xs:mt-10 xs:text-[1.5rem] sm:text-[2.6rem] font-worksans sm:tracking-[1.8rem] text-black bg-main-blue sm:h-[6.75rem];

}
.code-sample {
  @apply h-[40rem] rounded-[4rem] border-main-blue border-4 my-24; 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
